{% extends 'commerce/checkout.html.twig' %}
{% block content %}
    <h1>Billing address</h1>
    {% if message %}
        <p>Error: {{ message }}</p>
    {% endif %}
    <form method="post">
        {% include 'commerce/reuseable/address.html.twig' with {address: address} only %}
        {% if delivery_needed %}
        <input name="useForDelivery" type="checkbox"> Use same address for the delivery<br>
        {% endif %}
        <input type="submit" value="Continue">
    </form>
{% endblock %}
