{% extends 'base.html.twig' %}
{% block body %}
    <h1>Cart</h1>
    {% if error is defined %}
        <p>Error: {{ error }}</p>
    {% endif %}
    {% include 'commerce/reuseable/cart.html.twig' with { 'quote': quote } only %}
    {% if error is not defined %}
    <p>
        <a href="{{ continue }}">Continue to check out</a>
    </p>
    {% endif %}
{% endblock %}
