{% extends 'commerce/checkout.html.twig' %}
{% block content %}
    <h1>Delivery address</h1>
    {% if message %}
        <p>Error: {{ message }}</p>
    {% endif %}
    <form method="post">
        {% include 'commerce/reuseable/address.html.twig' with {address: address} only %}
        <input type="submit" value="Continue">
    </form>
{% endblock %}
