{% extends 'commerce/checkout.html.twig' %}
{% block content %}
    <h2>Payment</h2>
    {% include 'commerce/reuseable/payments.html.twig' with {
        'data': data
    } only %}
    {% if openTotal > 0 %}
        <h2>Add payment</h2>
        {% for paymentMethod in paymentMethods %}
            {% include 'commerce/payment/' ~ paymentMethod.identifier ~ '.html.twig' with { 'openTotal': openTotal } only %}
        {% endfor %}
    {% endif %}
{% endblock %}
