{% extends 'commerce/checkout.html.twig' %}
{% block content %}
    <h2>Payment</h2>
    <p>TODO: add existing payments overview</p>
    {% if openTotal > 0 %}
        <h2>Add payment</h2>
        {% for paymentMethod in paymentMethods %}
            {% include 'commerce/payment/' ~ paymentMethod.identifier ~ '.html.twig' with { 'openTotal': openTotal } only %}
        {% endfor %}
    {% endif %}
{% endblock %}
