{% extends 'commerce/checkout.html.twig' %}
{% block content %}
    <h2>Payment</h2>
    <p>TODO: add existing payments overview</p>
    <h2>Add payment</h2>
    <form method="post">
        <select name="payment_method">
            {% for paymentMethod in paymentMethods %}
                <option value="{{ paymentMethod.identifier }}">{{ paymentMethod.identifier }}</option>
            {% endfor %}
        </select>
        <input type="number" name="amount" placeholder="Amount in cents" value="{{ openTotal }}">
        <button type="submit">Add payment</button>
    </form>
{% endblock %}
