{% extends 'commerce/checkout.html.twig' %}
{% block content %}
    <h1>Summary</h1>
    {% if error is defined %}
        <p>Error: {{ error }}</p>
    {% endif %}
    {% include 'commerce/reuseable/cart.html.twig' with { 'quote': data.quote, 'payments': data.payments.authorizedPayments } only %}
    {% include 'commerce/reuseable/payments.html.twig' with { 'data': data } only %}
    {% if finalizable %}
        <form action="{{ path('checkout_finalize') }}" method="post" style="margin-top:15px;display:flex;flex-direction:row-reverse">
            <button type="submit" style="padding:10px 25px">Buy now</button>
        </form>
    {% endif %}
{% endblock %}
