{% extends 'commerce/checkout.html.twig' %}
{% block content %}
    <h1>Summary</h1>
    {% if error is defined %}
        <p>Error: {{ error }}</p>
    {% endif %}
    {% include 'commerce/reuseable/cart.html.twig' with { 'quote': quote } only %}
{% endblock %}
