{% extends 'base.html.twig' %}
{% block body %}
    <div style="width: 100%; display: flex; justify-content: space-between">
        {% for step in steps %}
            {% if step.url is not empty %}
                <a href="{{ step.url }}">{{ step.id }}</a>
            {% else %}
                <span title="complete the previous steps to get to this one!">{{ step.id }}</span>
            {% endif %}
        {% endfor %}
    </div>
    <div>
        {% if app.session.flashBag.has('error') %}
            <div style="margin-top:25px;">
                {% for msg in app.session.flashBag.get('error') %}
                <div style="background:lightcoral;border:1px solid darkred;color:white;padding:10px 25px;margin: 10px 0">{{ msg }}</div>
                {% endfor %}
            </div>
        {% endif %}
        {% block content %}

        {% endblock %}
    </div>
{% endblock %}
